# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Database
db.sqlite3

# Static & Media
media/
staticfiles/

# PyCharm
.idea/

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build
build/
dist/

# OS Files
.DS_Store
Thumbs.db